---
layout: layout.njk
title: "Ontario.ca Boîte à outils d'application Jamstack"
lang: fr
localized_page_url: "/home-page"
---
<h2>Page d'accueil</h2>
<p>Bienvenue à la trousse d'outils d'application <a href="https://jamstack.org/">Jamstack</a> d'Ontario.ca.</p>