---
redirect: "/{{ englishRoot }}"
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="refresh" content="0; url='/{{ englishRoot }}'" />
	<title>Redirecting...</title>
</head>
<body>
	Redirecting to: <a href="/{{ englishRoot }}">{{ redirect }}</a>
</body>
</html>