<p class="right small">
{% if lang === "fr" %}
Mis &agrave; jour: {{ frDateFormatUpdated(page.date) }}<br/>
Date de publication: {{ frDateFormatPublished(published_date, 'UTC') }}
{%  elif lang === "en" %}
Updated: {{ enDateFormatUpdated(page.date) }}<br/>
Published: {{ enDateFormatPublished(published_date, 'UTC') }}
{% endif %}
</p>