<div class="ontario-header__container">
        <header class="ontario-header" id="ontario-header">
            <div class="ontario-row">
                <div class="ontario-header__logo-container ontario-columns ontario-small-2 ontario-medium-4 ontario-large-3">
                    <a href="https://www.ontario.ca/page/government-ontario">
                        <img class="ontario-show-for-medium" src="{{ globals.siteRoot }}{{ globals.designSystemRoot }}/logos/ontario-logo--desktop.svg" alt="Government of Ontario" />
                        <img class="ontario-show-for-small-only" src="{{ globals.siteRoot }}{{ globals.designSystemRoot }}/logos/ontario-logo--mobile.svg" alt="Government of Ontario" />
                    </a>
                </div>

                <form name="searchForm" id="ontario-search-form-container" onsubmit="return false" class="ontario-header__search-container ontario-columns ontario-small-10 ontario-medium-offset-3 ontario-medium-6 ontario-large-offset-0 ontario-large-6" novalidate>
                    <label for="ontario-search-input-field" class="ontario-show-for-sr">Search</label>
                    <input type="text" name="search" id="ontario-search-input-field" autocomplete="off" aria-autocomplete="none" class="ontario-input ontario-header__search-input" required />
                    <input class="ontario-header__search-reset" id="ontario-search-reset" type="reset" value="" aria-label="Clear field" />
                    <button class="ontario-header__search-submit" id="ontario-search-submit" type="submit" onclick="doSearch()">
                        <span class="ontario-show-for-sr">Submit</span>
                        <svg class="ontario-icon" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="#ontario-icon-search"></use>
                        </svg>
                    </button>
                </form>
                <div class="ontario-header__nav-right-container ontario-columns ontario-small-10 ontario-medium-8 ontario-large-3">
                    <a href="{{ globals.siteRoot }}{{ fr_page_url }}" class="ontario-header__language-toggler ontario-header-button ontario-header-button--without-outline">
                        <abbr title="Français" class="ontario-show-for-small-only">
                            FR
                        </abbr>
                        <span class="ontario-show-for-medium">
                            Français
                        </span>
                    </a>

                    <button type="button" class="ontario-header__search-toggler ontario-header-button ontario-header-button--without-outline ontario-hide-for-large" id="ontario-header-search-toggler" aria-controls="ontario-search-form-container">
                        <svg class="ontario-icon" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="#ontario-icon-search"></use>
                        </svg>
                        <span class="ontario-show-for-medium ontario-show">
                            Search
                        </span>
                    </button>

                    <button type="button" class="ontario-header__menu-toggler ontario-header-button ontario-header-button--with-outline" id="ontario-header-menu-toggler" aria-controls="ontario-navigation" aria-label="open menu">
                        <svg class="ontario-icon" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="#ontario-icon-menu"></use>
                        </svg>

                        <span>Menu</span>
                    </button>
                </div>
                <div class="ontario-header__search-close-container ontario-columns ontario-small-2 ontario-medium-3">
                    <button type="button" class="ontario-header__search-close ontario-header-button ontario-header-button--without-outline" id="ontario-header-search-close" aria-label="close search bar">
                        <span aria-hidden="true">close</span>
                        <svg class="ontario-icon" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="#ontario-icon-close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </header>
        <nav class="ontario-navigation" id="ontario-navigation">
            <button type="button" class="ontario-header__menu-toggler ontario-header-button ontario-header-button--with-outline" id="ontario-header-nav-toggler" aria-controls="ontario-navigation" aria-label="close">
                <svg class="ontario-icon" focusable="false" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="#ontario-icon-close"></use>
                </svg>
                <span>Menu</span>
            </button>
            <div class="ontario-navigation__container">
                <ul>
                    <li class="ontario-header-navigation__menu-item">
                        <a href="#">Arts and culture</a>
                    </li>
                    <li class="ontario-header-navigation__menu-item">
                        <a href="#">Business and economy</a>
                    </li>
                    <li class="ontario-header-navigation__menu-item">
                        <a href="#">Driving and roads</a>
                    </li>
                    <li class="ontario-header-navigation__menu-item">
                        <a href="#">Education and training</a>
                    </li>
                    <li class="ontario-header-navigation__menu-item">
                        <a href="#">Environment and energy</a>
                    </li>
                    <li class="ontario-header-navigation__menu-item">
                        <a href="#">Government</a>
                    </li>
                    <li class="ontario-header-navigation__menu-item">
                        <a href="#">Health and wellness</a>
                    </li>
                    <li class="ontario-header-navigation__menu-item">
                        <a href="#">Home and community</a>
                    </li>
                    <li class="ontario-header-navigation__menu-item">
                        <a href="#">Jobs and employment</a>
                    </li>
                    <li class="ontario-header-navigation__menu-item">
                        <a href="#">Law and safety</a>
                    </li>
                    <li class="ontario-header-navigation__menu-item">
                        <a href="#">Rural and north</a>
                    </li>
                    <li class="ontario-header-navigation__menu-item">
                        <a href="#">Taxes and benefits</a>
                    </li>
                    <li class="ontario-header-navigation__menu-item">
                        <a href="#">Travel and recreation</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
