<!DOCTYPE html>
<html lang="{{ pageLang }}">
    <head>
    <title>{{ title }}</title>
    <link href="/assets/css/style.css" rel="stylesheet" />
    {% include "_head_custom.njk" %}
    </head>

    <body>
    {% include "_icon_definitions.njk" %}
    {% include "_header.njk" %}
    <div class="ontario-row">
        <div class="ontario-column ontario-small-12">
            {{ content | safe }}
        </div>
    </div>
    {% include "_footer.njk" %}
    </body>
</html>