<!DOCTYPE html>
<html lang="{{ lang or 'en' }}">
    <head>
    <title>{{ title }}</title>
    <link href="{{ globals.assetsRoot }}/css/style.css" rel="stylesheet" />
    {% include "_head_custom.njk" %}
    </head>
    <body>

    {% include "_icon_definitions.njk" %}
    {% include "_header.njk" %}
    <div class="ontario-row">
        <div class="ontario-column ontario-small-12">
            {{ content | safe }}
        </div>
        <div class="ontario-column ontario-small-12">
            {% include "_page_dates.njk" %}
        </div>
    </div>
    {% include "_footer.njk" %}
    </body>
</html>