<!DOCTYPE html>
<html lang="en">
    <head>
    <title>{{ title }}</title>

    <link href="/assets/css/style.css" rel="stylesheet" />

    </head>
    <body>

    {% include "_icon_definitions.njk" %}
    {% include "_header.njk" %}
    <div class="ontario-row">
        <div class="ontario-column ontario-small-12">
            {{ content | safe }}
        </div>
    </div>
    {% include "_footer.njk" %}
    </body>
</html>