<p class="right small">
{% if lang === "fr" %}
Mis &agrave; jour: {{ frDateFormat(page.date) }}<br/>
Date de publication: {{ frDateFormat(published_date) }}<br/>
{% else %}
Updated: {{ enDateFormat(page.date) }}<br/>
Published: {{ enDateFormat(published_date) }}<br/>
{% endif %}
</p>