{% if lang === 'fr' %}
{% set searchAction = 'fr/recherche/resultats-de-recherche/' %}
{% elif lang === 'en' %}
{% set searchAction = 'search/search-results/' %}
{% endif %}
<form name="searchForm" id="ontario-search-form-container" action="https://ontario.ca/{{searchAction}}"
  class="ontario-header__search-container ontario-columns ontario-small-10 ontario-medium-offset-3 ontario-medium-6 ontario-large-offset-0 ontario-large-6"
  novalidate>
  <label for="ontario-search-input-field" class="ontario-show-for-sr">{{ 'header.labels.search' | localeString
    }}</label>
  <input type="text" name="query" id="ontario-search-input-field" autocomplete="off" aria-autocomplete="none"
    class="ontario-input ontario-header__search-input" required />
  <input class="ontario-header__search-reset" id="ontario-search-reset" type="reset" value=""
    aria-label="{{ 'header.labels.clearField' | localeString }}" />
  <button class="ontario-header__search-submit" id="ontario-search-submit" type="submit" onclick="doSearch()">
    <span class="ontario-show-for-sr">{{ 'header.labels.submit' | localeString }}</span>
    <svg class="ontario-icon" focusable="false" sol:category="primary" viewBox="0 0 24 24"
      preserveAspectRatio="xMidYMid meet">
      <use xlink:href="#ontario-icon-search"></use>
    </svg>
  </button>
</form>