<script src="{{ globals.siteRoot }}{{ globals.designSystemRoot }}/scripts/ontario-a11y.js"></script>
<script src="{{ globals.siteRoot }}{{ globals.designSystemRoot }}/scripts/ontario-header.js"></script>
<script src="{{ globals.siteRoot }}{{ globals.designSystemRoot }}/scripts/ontario-search.js"></script>
<script
  src="{{ globals.siteRoot }}{{ globals.assetsRoot }}/vendor/ontario-design-system/scripts/back-to-top.js"></script>
<script src="{{ globals.siteRoot }}{{ globals.assetsRoot }}/js/core/global-content.js"></script>
<script src="{{ globals.siteRoot }}{{ globals.assetsRoot }}/js/core/global-content-nav-menu.js"></script>