 <link rel="icon" href="{{ templateGlobals.designSystemRoot }}/favicons/favicon.ico" size="any"/> <link rel="shortcut icon" href="{{ templateGlobals.designSystemRoot }}/favicons/favicon.ico" size="any"/>
<link rel="icon" href="{{ templateGlobals.designSystemRoot }}/favicons/favicon.svg" type="image/svg+xml" />
<link rel="icon" href="{{ templateGlobals.designSystemRoot }}/favicons/favicon-48x48" type="image/png" />
<link rel="apple-touch-icon" href="{{ templateGlobals.designSystemRoot }}/favicons/apple-touch-icon.png" type="image/png"/>
<link rel="manifest" href="{{ templateGlobals.assetsRoot }}/json/core/manifest.json" />