<div class="ontario-row">
    <div class="ontario-columns ontario-small-12 ontario-medium-6">
        <h2 class="ontario-h4">{{ 'expandedFooter.ontarioGovernment' | localeString }}</h2>
        <p>{{ 'expandedFooter.ontarioGovernmentDescription' | localeString | safe }}</p>
    </div>
    <div class="ontario-columns ontario-small-12 ontario-medium-6">
        <h2 class="ontario-h4">{{ 'expandedFooter.contactUs' | localeString }}</h2>
        <p>{{ 'expandedFooter.contactUsDescription' | localeString | safe }} </p>
        <a class="ontario-footer__button ontario-button ontario-margin-bottom-0-!" href="#">{{ 'expandedFooter.findAMinistry' | localeString }}</a>
    </div>
</div>