---
tags: example page
example_page_sort_order: 2
layout: core/layout.njk
title: "Boîte à outils Jamstack Ontario.ca"
lang: fr
en_page_url: "/example-pages/jamstack-toolkit"
---
<h2>{{ "homePage.title" | localeString }}</h2>
<p>{{ "homePage.welcome" | localeString | markdown | safe }}</p>
<div>
  <p>{{ "homePage.environment.firstHalf" | localeString }}<strong>{{ globals.userFriendlyEnvString }}</strong>{{ "homePage.environment.secondHalf" | localeString }}</p>
</div>

{%- include "app/components/_example_page_list.njk" -%}
