<footer class="ontario-footer ontario-footer--default">
  <div class="ontario-row">
    <div class="ontario-columns ontario-small-12">
      {% include "core/molecules/_footer_standard_links.njk" %}
    </div>
  </div>
</footer>