<footer class="ontario-footer ontario-footer--expanded">
  <div class="ontario-footer__expanded-top-section">
    {% include "app/_footer_expanded_content.njk" %}
  </div>
  <div class="ontario-row ontario-footer__expanded-bottom-section">
    <div class="ontario-columns ontario-small-12">
      {% include "core/molecules/_footer_standard_links.njk" %}
    </div>
  </div>
</footer>