---
layout: layout.njk
title: "Ontario.ca Jamstack Application Toolkit"
localized_page_url: "/page-daccueil"
---
<h2>Home Page</h2>
<p>Welcome to the Ontario.ca <a href="https://jamstack.org/">Jamstack</a> Application Toolkit.</p>

{% include "_joke.njk" %}
