---
layout: core/layout.njk
title: "Boîte à outils Jamstack Ontario.ca"
description: "La meilleure façon de commencer à créer des applications pour Ontario.ca."
lang: fr
en_page_url: "/{{ englishRoot }}"
date: {{ createDate }}
published_date: {{ createDate }}
---
French Page
