# {{ projectName }}

Built with the [Ontario.ca Jamstack Toolkit](https://github.com/ongov/Ontario.ca-Jamstack-Toolkit) - see `README.jamstack` for more details.

## Project Description

{{ projectDescription }}

## About this README.md file

README files are a place to tell others about a project right in the source code repository. This one has been generated automatically for you when you set up your new project.

[Make a README](https://www.makeareadme.com/) is one place to learn about creating a good README file.

## Suggested Information

For projects meant to be deployed to Ontario.ca (this is probably why you're using the *Ontario.ca Jamstack Toolkit, after all), we recommend putting in at least the following information to start:

* What is the purpose of the project?
* Who should someone contact to get further information about it?
* How would a new developer get started working on the project?