---
redirect: "/{{ englishRoot }}"
eleventyExcludeFromCollections: true
---
{% raw %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="refresh" content="0; url='{{ redirect }}'" />
	<title>Redirecting...</title>
</head>
<body>
	Redirecting to: <a href="{{ redirect }}">{{ redirect }}</a>
</body>
</html>
{% endraw %}