{% set footerType = footerType or globals.footerType %}
{% if footerType === "default" %}
{% include "core/footer/_footer_default.njk" %}
{% elif footerType === "expanded" %}
{% include "core/footer/_footer_expanded.njk" %}
{% endif %}