<footer class="ontario-footer ontario-footer--default">
    <div class="ontario-row">
        <div class="ontario-columns ontario-small-12">
            <ul class="ontario-footer__links-container ontario-footer__links-container--inline">
                <li><a class="ontario-footer__link" href="{{ 'footer.default.links.accessibility.url' | localeString }}">{{ 'footer.default.links.accessibility.text' | localeString }}</a></li>
                <li><a class="ontario-footer__link" href="{{ 'footer.default.links.privacy.url' | localeString }}">{{ 'footer.default.links.privacy.text' | localeString }}</a></li>
                <li><a class="ontario-footer__link" href="{{ 'footer.default.links.contactUs.url' | localeString }}">{{ 'footer.default.links.contactUs.text' | localeString }}</a></li>
            </ul>
            <div class="ontario-footer__copyright">
                <a class="ontario-footer__link" href="{{ 'footer.default.links.copyright.url' | localeString }}">&copy; {{ 'footer.default.links.copyright.text' | localeString }}, <span class="ontario-nbsp">2012&ndash;21</span></a>
            </div>
        </div>
    </div>
</footer>