<!-- Expanded footer version one -->
<footer class="ontario-footer ontario-footer--expanded">
    <div class="ontario-footer__expanded-top-section">
        <div class="ontario-row">
            <div class="ontario-columns ontario-small-12 ontario-medium-6">
                <h2 class="ontario-h4">Ontario Government</h2>
                <p>The Government of Ontario includes 24 ministries as well as agencies and Crown corporations. Learn about <a href="#">how the government works.</a></p>
            </div>
            <div class="ontario-columns ontario-small-12 ontario-medium-6">
                <h2 class="ontario-h4">Contact us</h2>
                <p>You can contact us through a ministry or <a href="#">send us an email.</a></p>
                <a class="ontario-footer__button ontario-button ontario-margin-bottom-0-!" href="#">Find a ministry</a>

            </div>
        </div>
    </div>
    <div class="ontario-row ontario-footer__expanded-bottom-section">
        <div class="ontario-columns ontario-small-12">
            {% include "core/_footer_standard_links.njk" %}
        </div>
    </div>
</footer>