<!-- Partnership footer -->
<footer class="ontario-footer ontario-footer--partnership">
    <div class="ontario-row">
        <div class="ontario-columns ontario-small-12 ontario-medium-7 ">
            {% include "core/_footer_standard_links.njk" %}
        </div>
        <div class="ontario-columns ontario-small-12 ontario-medium-5 ontario-footer__partnership-logo-container">
            <a href="" class="ontario-footer__ontario-logo"><img src="{{ globals.siteRoot }}{{ globals.designSystemRoot }}/logos/ontario-logo--partnership-footer.svg" alt="{{ 'header.onGov' | localeString }}"></a>
            <p class="ontario-margin-bottom-0-!">{{ 'footer.partnershipText' | localeString | safe }}</span></p>
        </div>
    </div>
</footer>