<ul class="ontario-footer__links-container ontario-footer__links-container--inline">
    <li><a class="ontario-footer__link" href="{{ 'footer.standard.links.accessibility.url' | localeString }}">{{ 'footer.standard.links.accessibility.text' | localeString }}</a></li>
    <li><a class="ontario-footer__link" href="{{ 'footer.standard.links.privacy.url' | localeString }}">{{ 'footer.standard.links.privacy.text' | localeString }}</a></li>
    <li><a class="ontario-footer__link" href="{{ 'footer.standard.links.contactUs.url' | localeString }}">{{ 'footer.standard.links.contactUs.text' | localeString }}</a></li>
</ul>
<div class="ontario-footer__copyright">
    <a class="ontario-footer__link" href="{{ 'footer.standard.links.copyright.url' | localeString }}">&copy; {{ 'footer.standard.links.copyright.text' | localeString }}, <span class="ontario-nbsp">2012&ndash;{% currentShortYear %}</span></a>
</div>