{% set numMenuItems = app["app-locale-strings"].applicationHeader.navMenu | length %}
{% if numMenuItems > 0 and numMenuItems <=2 %}
    {% set menuShowClass = "ontario-show-for-small-only" %}
{% elif numMenuItems > 0 and numMenuItems <=5 %}
    {% set menuShowClass = "ontario-hide-for-large" %}
{% else %}
    {% set menuShowClass = "" %}
{% endif %}
<div class="ontario-application-subheader-menu__container">
            <section class="ontario-application-subheader">
                <div class="ontario-row">
                    <div class="ontario-columns ontario-small-12 ontario-application-subheader__container">
                        <p class="ontario-application-subheader__heading">
                            <a href="#">{{ 'applicationHeader.applicationName' | localeString }}</a>
                        </p>

                        <div class="ontario-application-subheader__menu-container">

                            {# Display the visible menu items if any exist #}
                            {% if numMenuItems > 0 %}
                            <ul class="ontario-application-subheader__menu ontario-show-for-large">
                                {% for itemKey, navMenuItem in app["app-locale-strings"].applicationHeader.navMenu %}
                                    {% if loop.index <= 5 %}
                                    <li><a href="#">{{ ('applicationHeader.navMenu.' + itemKey + '.text') | localeString }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <ul class="ontario-application-subheader__menu ontario-hide-for-small ontario-show-for-medium ontario-hide-for-large">
                                {% for itemKey, navMenuItem in app["app-locale-strings"].applicationHeader.navMenu %}
                                    {% if loop.index <= 2 %}
                                        <li><a href="#">{{ ('applicationHeader.navMenu.' + itemKey + '.text') | localeString }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}

                            <button class="ontario-header__menu-toggler ontario-header-button ontario-header-button--with-outline {{ menuShowClass }}" id="ontario-header-menu-toggler" aria-controls="ontario-navigation" aria-label="{{ 'header.labels.openMenu' | localeString }}" type="button">
                                <svg class="ontario-icon" focusable="false" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                                    <use xlink:href="#ontario-icon-menu"></use>
                                </svg>
                                <span>Menu</span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <nav class="ontario-navigation" id="ontario-navigation">
                <button type="button" class="ontario-header__menu-toggler ontario-header-button ontario-header-button--with-outline {{ menuShowClass }}" id="ontario-header-nav-toggler" aria-controls="ontario-navigation" aria-label="{{ 'header.labels.close' | localeString }}">
                    <svg class="ontario-icon" focusable="false" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                        <use xlink:href="#ontario-icon-close"></use>
                    </svg>
                    <span>Menu</span>
                </button>
                <div class="ontario-navigation__container">
                    <ul>
                        {% if numMenuItems > 0 %}
                            {% for itemKey, navMenuItem in app["app-locale-strings"].applicationHeader.navMenu %}
                                {% if loop.index <= 2 %}
                                <li class="ontario-show-for-small-only"><a href="#">{{ ('applicationHeader.navMenu.' + itemKey + '.text') | localeString }}</a></li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if numMenuItems >= 3 %}
                            {% for itemKey, navMenuItem in app["app-locale-strings"].applicationHeader.navMenu %}
                                {% if loop.index >=3 and loop.index <= 5 %}
                                <li class="ontario-hide-for-large"><a href="#">{{ ('applicationHeader.navMenu.' + itemKey + '.text') | localeString }}</a></li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if numMenuItems >= 3 %}
                            {% for itemKey, navMenuItem in app["app-locale-strings"].applicationHeader.navMenu %}
                                {% if loop.index >=6 %}
                                    <li><a href="#">{{ ('applicationHeader.navMenu.' + itemKey + '.text') | localeString }}</a></li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
</div>