{# fallback global menu items are managed in `src/_data/core/core-locale-strings.json` #}
<ul id="globalContent-ontarioGlobalMenu">
    {% for itemKey, navMenuItem in core["core-locale-strings"].header.navMenu %}
    <li class="ontario-header-navigation__menu-item">
        <a href="{{ ('header.navMenu.' + itemKey + '.url') | localeString }}">{{ ('header.navMenu.' + itemKey + '.text') | localeString }}</a>
    </li>
    {% endfor %}
</ul>

{# fallback items are replaced by items fetch from Ontario.ca CMS #}
