<li class="ontario-header-navigation__menu-item">
    <a href="/fr/page/affaires-et-economie">Affaires et économie</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/fr/page/arts-et-culture">Arts et culture</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/fr/page/conduite-et-routes">Conduite et routes</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/covid-fr">COVID-19</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/fr/page/domicile-et-communaute">Domicile et communauté</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/fr/page/education-et-formation">Éducation et formation</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/fr/page/environnement-et-energie">Environnement et énergie</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/fr/page/gouvernement">Gouvernement</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/fr/page/impots-et-avantages-fiscaux">Impôts et avantages fiscaux</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/fr/page/lois-et-securite">Lois et sécurité</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/fr/page/regions-rurales-et-du-nord">Régions rurales et du Nord</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/fr/page/les-soins-de-sante-en-ontario">Santé et bien-être</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/fr/page/travail-et-emploi">Travail et emploi</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/fr/page/voyage-et-loisirs">Voyage et loisirs</a>
</li>
