<li class="ontario-header-navigation__menu-item">
    <a href="/page/arts-and-culture">Arts and culture</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/page/business-and-economy">Business and economy</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/covid">COVID-19</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/page/driving-and-roads">Driving and roads</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/page/education-and-training">Education and training</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/page/environment-and-energy">Environment and energy</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/page/government">Government</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/page/health-care-ontario">Health and wellness</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/page/home-and-community">Home and community</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/page/jobs-and-employment">Jobs and employment</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/page/law-and-safety">Law and safety</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/page/rural-and-north">Rural and north</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/page/taxes-and-benefits">Taxes and benefits</a>
</li>
<li class="ontario-header-navigation__menu-item">
    <a href="/page/travel-and-recreation">Travel and recreation</a>
</li>
