{% include "core/_header_menu.njk" %}

<div class="ontario-overlay"></div>

<script src="{{ globals.siteRoot }}{{ globals.designSystemRoot }}/scripts/ontario-a11y.js"></script>
<script src="{{ globals.siteRoot }}{{ globals.designSystemRoot }}/scripts/ontario-header.js"></script>
<script src="{{ globals.siteRoot }}{{ globals.designSystemRoot }}/scripts/ontario-search.js"></script>