---
layout: layout.njk
title: "Boîte à outils d'application statique Ontario.ca"
lang: fr
---
<h2>Page d'accueil</h2>
<p>Bienvenue à la trousse d'outils d'application statique d'Ontario.ca, ou peut-être à la trousse d'outils d'application <a href="https://jamstack.org/">Jamstack</a> d'Ontario.ca si nous voulons être à la mode.</p>