---
layout: core/layout.njk
title: "Ontario.ca Boîte à outils d'application Jamstack"
lang: fr
en_page_url: "/jamstack-toolkit"
date: git Last Modified
published_date: 2022-05-07
---
<h2>{{ "homePage.title" | localeString}}</h2>
<p>{{ "homePage.welcome" | localeString | markdown | safe}}</p>
<div>
  <p>{{ "homePage.environment.firstHalf" | localeString}}<strong>{{ globals.userFriendlyEnvString }}</strong>{{ "homePage.environment.secondHalf" | localeString}}</p>
</div>