---
layout: layout.njk
title: "Ontario.ca Boîte à outils d'application Jamstack"
lang: fr
en_page_url: "/jamstack-toolkit"
date: git Last Modified
published_date: 2022-05-07
---
<h2>{{ "homePage" | localeString}}</h2>
<p>Bienvenue à la trousse d'outils d'application <a href="https://jamstack.org/">Jamstack</a> d'Ontario.ca.</p>
<p>Ce site a été construit pour l'environnement de <strong>{{ globals.userFriendlyEnvString }}</strong>.</p>