---
layout: layout.njk
title: "Ontario.ca Jamstack Application Toolkit"
---
<h2>Home Page</h2>
<p>Welcome to the Ontario.ca <a href="https://jamstack.org/">Jamstack</a> Application Toolkit.</p>
<p>Ce site a été construit pour l'environnement de <strong>{{ globals.userFriendlyEnvString }}</strong>.</p>