---
layout: layout.njk
title: "Ontario.ca Static Application Toolkit"
---
<h2>Home Page</h2>
<p>Welcome to the Ontario.ca Static Application Toolkit, or perhaps the Ontario.ca <a href="https://jamstack.org/">Jamstack</a> Application Toolkit if we want to get buzzwordy.</p>