---
layout: layout.njk
title: "Ontario.ca Jamstack Application Toolkit"
---
<h2>Home Page</h2>
<p>Welcome to the Ontario.ca <a href="https://jamstack.org/">Jamstack</a> Application Toolkit.</p>
<p>This site was build for the <strong>{{ globals.userFriendlyEnvString }}</strong> environment.</p>