---
layout: core/layout.njk
title: "Ontario.ca Jamstack Application Toolkit"
fr_page_url: "/boite-a-outils-dapplication-jamstack"
date: git Last Modified
published_date: 2022-05-07
---
<h2>{{ "homePage.title" | localeString}}</h2>
{{ "homePage.welcome" | localeString | markdown | safe}}
<div>
  {{ "homePage.environment.firstHalf" | localeString}}<strong>{{ globals.userFriendlyEnvString }}</strong>{{ "homePage.environment.secondHalf" | localeString}}
</div>