---
layout: layout.njk
title: "Ontario.ca Jamstack Application Toolkit"
fr_page_url: "/boite-a-outils-dapplication-jamstack"
---
<h2>{{ "homePage" | localeString}}</h2>
<p>Welcome to the Ontario.ca <a href="https://jamstack.org/">Jamstack</a> Application Toolkit.</p>
<p>This site was built for the <strong>{{ globals.userFriendlyEnvString }}</strong> environment.</p>