<button type="button" onclick="scrollToTop()" class="ontario-back-to-top--default" id="actual-btt-button">
  <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary" viewBox="0 0 24 24"
    preserveAspectRatio="xMidYMid meet">
    <use href="#ontario-icon-arrow-up"></use>
  </svg>
  {{ 'footer.standard.backToTop' | localeString }}
</button>