<button type="button" class="ontario-header__menu-toggler ontario-header-button ontario-header-button--with-outline"
  id="ontario-header-menu-toggler" aria-controls="ontario-navigation"
  aria-label="{{ 'header.labels.openMenu' | localeString }}">
  <svg class="ontario-icon" focusable="false" sol:category="primary" viewBox="0 0 24 24"
    preserveAspectRatio="xMidYMid meet">
    <use xlink:href="#ontario-icon-menu"></use>
  </svg>

  <span>{{ 'header.labels.menu' | localeString }}</span>
</button>