<button type="button" class="ontario-header__search-close ontario-header-button ontario-header-button--without-outline"
  id="ontario-header-search-close" aria-label="{{ 'header.labels.closeSearchBar' | localeString }}">
  <span aria-hidden="true">{{ 'header.labels.close' | localeString }}</span>
  <svg class="ontario-icon" focusable="false" sol:category="primary" viewBox="0 0 24 24"
    preserveAspectRatio="xMidYMid meet">
    <use xlink:href="#ontario-icon-close"></use>
  </svg>
</button>