<button type="button" class="ontario-header__menu-toggler ontario-header-button ontario-header-button--with-outline"
  id="ontario-header-nav-toggler" aria-controls="ontario-navigation"
  aria-label="{{ 'header.labels.close' | localeString }}">
  <svg class="ontario-icon" focusable="false" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
    <use xlink:href="#ontario-icon-close"></use>
  </svg>
  <span>{{ 'header.labels.menu' | localeString }}</span>
</button>