<button type="button"
  class="ontario-header__search-toggler ontario-header-button ontario-header-button--without-outline ontario-hide-for-large"
  id="ontario-header-search-toggler" aria-controls="ontario-search-form-container" aria-label="Search">
  <svg class="ontario-icon" focusable="false" sol:category="primary" viewBox="0 0 24 24"
    preserveAspectRatio="xMidYMid meet">
    <use xlink:href="#ontario-icon-search"></use>
  </svg>
  <span class="ontario-show-for-medium ontario-show">
    {{ 'header.labels.search' | localeString }}
  </span>
</button>