<abbr title="{{ 'header.langToggle.langFull' | localeString }}" class="ontario-show-for-small-only">
  {% if useApplicationHeader %}
  {{ 'header.langToggle.langFull' | localeString }}
  {% else %}
  {{ 'header.langToggle.langAbbr' | localeString }}
  {% endif %}
</abbr>